<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.akester.eudaesense">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenPage"
            android:screenOrientation="portrait">
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="edu.akester.eudaesense.HomePage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CharmPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GratitudePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StrengthPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ForwardPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ThanksPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DandelionsPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BlowPage"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"/>
        <activity
            android:name=".FeedbackPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RatePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ThoughtOnePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ThoughtTwoPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ThoughtThreePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PerspectivePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReminderPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReminderOnePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReminderTwoPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ToDoPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ToDoOnePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ToDoTwoPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ToDoThreePage"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
