<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.akester.eudaesense" >

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/title_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MenuScreen"/>

        <activity android:name=".OneA"/>
        <activity android:name=".OneB"/>
        <activity android:name=".TwoA"/>
        <activity android:name=".TwoB"/>
        <activity android:name=".TwoC"/>
        <activity android:name=".TwoD"/>
        <activity android:name=".ThreeA"/>
        <activity android:name=".ThreeB"/>
        <activity android:name=".ThreeC"/>
        <activity android:name=".ThreeD"/>
        <activity android:name=".FourA"/>
        <activity android:name=".FourB"/>
        <activity android:name=".FiveA"/>
        <activity android:name=".FiveB"/>
        <activity android:name=".FiveC"/>
        <activity android:name=".FiveD"/>
        <activity android:name=".Demo"/>
        <activity android:name=".RandomA"/>
        <activity android:name=".RandomB"/>
        <activity android:name=".SixA"/>
        <activity android:name=".SixB"/>

    </application>

</manifest>
