<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.akester.eudaesense">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <activity
            android:name=".OneA"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OneB"/>
        <activity android:name=".TwoA"/>
        <activity android:name=".TwoB"/>
        <activity android:name=".TwoC"/>
        <activity android:name=".TwoD"/>
        <activity android:name=".ThreeA"/>
        <activity android:name=".ThreeB"/>
        <activity android:name=".ThreeC"/>
        <activity android:name=".ThreeD"/>
        <activity android:name=".FourA"/>
        <activity android:name=".FourB"/>


    </application>

</manifest>
